[submodule "pulsar-h2"]
	path = pulsar-h2
	url = https://github.com/platonai/pulsar-h2.git
[submodule "gora-shaded-mongodb"]
	path = gora-shaded-mongodb
	url = https://github.com/platonai/gora-shaded-mongodb.git
[submodule "ProxyHub"]
	path = ProxyHub
	url = https://github.com/platonai/ProxyHub.git
[submodule "pulsar-gora"]
	path = pulsar-gora
	url = https://github.com/galaxyeye/pulsar-gora.git
